body {
    
    background-image: url(https://images.pexels.com/photos/6156383/pexels-photo-6156383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li{
    display: inline;
    float: right;
    border-right: 4px solid white;
}
 #navbar li a {
    display: block;
    padding:12px;
    background-color: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Tahoma;
   
}
h1 {
    margin: 0;
    padding: 1em;
    border-radius: 5px;
    color: white;
    font-family: Tahoma;
    font-size: 24px;
    //border: 3px solid white;
    
}
.span{
    font-size:24px;
    color: black;
}

#section1{
    
}

#section2{
    display:block;
    padding: 25px;
    font-family: Tahoma;
    font-size: 20px;
    color: white;
    float:left;
    border: 3px solid white;
    border-style: outset;
    margin: 75px;
    border-radius: 20px;
    text-align: ;
    width:300px;
    //height:300px;
    animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: 20;
   transition: width 6s, height 6s,transform 2s;
   transition-timing-function: ease-out;
    
}




#section3{
 
padding: 50px;
float: left;
width: 200px;
//height: 300px;
margin:5px;
padding: 25px;
border: 3px solid white;
border-style: outset;
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
animation-iteration-count: 20;
transition: width 2s, height 4s,font-size 3s,transform 2s;
transition-timing-function: ease-out;




}

#image{
    border-radius: 40px;
    max-width:100%;
    max-height:100%;
    
}

#section4{
    margin-top:150px;
    margin-right:150px;
    
    width: 300px;
    //height: 300px;
    padding: 25px;
    font-family: Tahoma;
    color: white;
    font-size: 16px;
    float: right;
    border: 5px solid white;
    border-radius: 20px; 
    border-style: outset;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 20;
    transition: width 2s, height 4s,font-size 2s,transform 2s;
}

#button{
    font-size: 24px;
    background-color: beige;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    float: left;
    margin-top: 50px;
    margin-right: 350px;
   
 
  
  
  
   
    
  
   
}

#button:hover{
  background-color: turquoise;
  color: white;
}

@keyframes example {
    from {border: 3px solid white;}
    to { border: 3px solid turquoise;}
    
  